/* General Styling */
.sitter-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(70deg,#37d5ab  , #425c5c 48%, #72f1a7);
  padding: 20px;
  font-family: Arial, sans-serif;
}

.booking-form {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.form-input {
  margin-bottom: 20px;
}

.date-time-picker {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* Button Styling */
.request-btn {
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
  background-color: #0056b3;
}
