.header {
    background-color: #425c5c;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 5px;
}