

.header {
    padding: 3rem;
    border:  1px solid whitesmoke;
    border-radius: 10px;
    margin: 0.7rem;
    align-items: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    justify-content:space-evenly;
}

.headerListItem {
    display: flex;
    align-items:center;
    gap: 10px;
    padding: 0.5rem;
    border:  4px solid whitesmoke;
    border-radius: 7px;
    margin: 0.9rem;
    font-weight: bold;
    position:sticky;
    margin-top: 3cm;
}

