.navbar {
    height: 90px;
    background-color: 
    #043337;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
}
.plants_hanging {
    translate: auto;
}

.plants_hanging2 {
    translate: auto;
}

.logo_name {
    translate: -7rem 28px;
    height:auto;

}
.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo_name {
    font-weight: 300;
    font-size: 3.0em;
    margin-left: 3cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navButton {
    margin-left: 20px;
    border: none;
    color: #19422a;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0.7rem;
    cursor: pointer;
}